In [3]:
x1 = [1,2,3,4,5]
x2=x1
print(x2)
x2.append(6)
x2.remove(5)
print(x2)
print(x1)
print(id(x1))
print(id(x2))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 6]
[1, 2, 3, 4, 6]
2750299129992
2750299129992
[1, 2, 3, 4, 6]

In [4]:
x1 = [1,2,3,4,5]
x2=x1[:]
print(x2)
x2.append(6)
x2.remove(5)
print(x2)
print(x1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 6]
[1, 2, 3, 4, 5]

In [11]:
x=(1,2,4,"ok","yes",[1,2,3])
print(x[3])
print(x[2:4])
y=(1,2,3,4,5,6,7,8,9,10)
print(max(y))
print(min(y))
print(sum(y))
# y[0]=100 TypeError: 'tuple' object does not support item assignment
# y.insert(1,100) AttributeError: 'tuple' object has no attribute 'insert'
# del y[2] TypeError: 'tuple' object doesn't support item deletion

ok
(4, 'ok')
10
1
55

In [12]:
y=(1,2,3,4,5,6,7,8,9,10)
z=list(y)
print(z)
zz=tuple(z)
print(zz)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [14]:
import timeit
print(timeit.timeit('x=[1,2,3,4,5,6,7,8,9,10]'))
print(timeit.timeit('y=(1,2,3,4,5,6,7,8,9,10)'))

0.11643996999998762
0.017566831000067396