In [4]:
import time
# 返回时间戳 自公元1970年1月1日0：00：00到现在总共经历的秒数
print(time.time())
# 结构体时间
print(time.localtime())
print(time.localtime(0))

1543466700.9393046
time.struct_time(tm_year=2018, tm_mon=11, tm_mday=29, tm_hour=12, tm_min=45, tm_sec=0, tm_wday=3, tm_yday=333, tm_isdst=0)
time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=8, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [7]:
t=time.localtime(1543466700.9393046)
print(t)
s=time.strftime("%a %b %d %I:%M%p %Y",t)
print(s)
tt = time.strptime(s,"%a %b %d %I:%M%p %Y")
print(tt)

time.struct_time(tm_year=2018, tm_mon=11, tm_mday=29, tm_hour=12, tm_min=45, tm_sec=0, tm_wday=3, tm_yday=333, tm_isdst=0)
Thu Nov 29 12:45PM 2018
time.struct_time(tm_year=2018, tm_mon=11, tm_mday=29, tm_hour=12, tm_min=45, tm_sec=0, tm_wday=3, tm_yday=333, tm_isdst=-1)

In [13]:
import datetime
print(datetime.date.today())
from datetime import date
print(date.today())
d=date(2018,3,30)
print(d)
print(d.year,d.month,d.day)

2018-11-29
2018-11-29
2018-03-30
2018 3 30
time.struct_time(tm_year=2018, tm_mon=3, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=89, tm_isdst=-1)

In [15]:
import time
from datetime import date
d=date(2018,3,30)
print(d.timetuple())
ts= time.time()
dd = date.fromtimestamp(ts)
print(ts)
print(dd)

time.struct_time(tm_year=2018, tm_mon=3, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=89, tm_isdst=-1)
1543468100.7509508
2018-11-29

In [17]:
from datetime import time
t = time(10,24,5,12)
print(t)
print(t.hour,t.minute,t.second,t.microsecond)

10:24:05.000012
10 24 5 12

In [23]:
from datetime import datetime
print(datetime.now())
d1= datetime.now()
print(d1,d,t)
d2=datetime.combine(d,t)
print(d2)
td= d1-d2
print(type(td),td)
print(td.days,td.seconds,td.microseconds)

2018-11-29 13:19:58.885801
2018-11-29 13:19:58.885801 2018-03-30 10:24:05.000012
2018-03-30 10:24:05.000012
<class 'datetime.timedelta'> 244 days, 2:55:53.885789
244 10553 885789

In [26]:
from datetime import timedelta
print(timedelta(weeks=1))
print(timedelta(days=1,hours=12))
print(timedelta(days=1.5))

7 days, 0:00:00
1 day, 12:00:00
1 day, 12:00:00

In [27]:
from datetime import timedelta
today = datetime.now()
tomorrow=today+timedelta(days=1)
print(tomorrow)

2018-11-30 13:25:28.411084

In [31]:
import calendar
calendar.weekday(year=2018,month=11,day=28)
calendar.isleap(2018)
calendar.monthrange(year=2018,month=3)

(3, 31)